<tr>
        <td align="right" width="150" height="22" class="text12">&nbsp;<%= tg.name %>&nbsp;:&nbsp;</td>
        <td valign="top"><input type="checkbox" name="<%= tg.id %>" id="<%= tg.id %>" value="<%= tg.val %>" <%= tg.chk %>><span class="small"> <%= tg.remk %></span></td>
    </tr>
