<tr> 
        <td align="right" width="150" height="22" class="text12">&nbsp;<%= tg.name %>&nbsp;:&nbsp;</td>
        <td valign="top"><input type="<%= tg.type %>" id="<%= tg.id %>" name="<%= tg.id %>" value="<%= tg.val %>" style="width:<%= tg.width %>;"><span class="small"> <%= tg.remk %></span></td>
    </tr>