<div class="search_block"> 
    <div class="search_text"><%= tg.name %>:&nbsp;</div>
    <div class="search_input"><input type="text" name="<%= tg.id %>" id="<%= tg.id %>" class="tbl_input" value="<%= tg.val %>" style="width:<%= tg.width %>;"></div>
    <div style="clear:both"></div>
</div>