
<form name="form1" id="form1">

<table width="100%" cellpadding="3" cellspacing="0" border="0" class="tbl">
<%- include("tags/errmsg") %>
<%- include("tags/input_text_req", {tg: {name:"Name", id:"fname", val:data.name, type:"text", width:"300px", remk:"" } }) %>
<%- include("tags/input_text_req", {tg: {name:"Traccar ID", id:"fpgid", val:data.pgid, type:"text", width:"300px", remk:"" } }) %>
<%- include("tags/input_text_req", {tg: {name:"Email", id:"femail", val:data.email, type:"text", width:"300px", remk:"" } }) %>
<%- include("tags/input_text_req", {tg: {name:"Password", id:"fpassword", val:data.password, type:"text", width:"300px", remk:"" } }) %>
<%- include("tags/input_text_req", {tg: {name:"Host", id:"fhost", val:data.host, type:"text", width:"300px", remk:"" } }) %>
<%- include("tags/input_text_req", {tg: {name:"Port", id:"fport", val:data.port, type:"text", width:"100px", remk:"" } }) %>
<%- include("tags/input_check", {tg: {name:"TLS", id:"ftls", val:"1", remk:"", chk:data.tls } }) %>
<%- include("tags/input_text", {tg: {name:"GSM", id:"fdesc", val:data.desc, type:"text", width:"300px", remk:"" } }) %>
<%- include("tags/input_check", {tg: {name:"Suspend", id:"fsuspend", val:"1", remk:"", chk:data.suspend } }) %>
<tr> 
	<td colspan="2">&nbsp;</td>
</tr>
</table>

<div>&nbsp;</div>
<div>&nbsp;</div>

</form>
