<%- include("overall_header") %>

<script src="/js/mods/tcsetting.js" type="text/javascript"></script>

<script type="text/javascript">

var parentnav = "<%= mod.parent.path %>";
var crnmod = '<%= mod.path %>';

$(function() {
	init();
	get_ServiceStatus()
});

</script>

<%- include("tags/dialog_test") %>

<form name="form1" id="form1">

<%- include("tags/modheader_service", {tg: {name: "Traccar Service", id: "tcsstatus"} }) %>
<%- include("tags/remsg") %>

<div id="panel_content">
    <div class="toolbar">
		<%- include("tags/tool_button", {tg: {name:"Save", image:"save_s.png", onclick:"doSubmit()"} }) %>
		<%- include("tags/tool_button", {tg: {name:"Back", image:"back_s.png", onclick:"doBack()"} }) %>
        <div style="clear:both"></div>
    </div>

    <table width="100%" cellpadding="3" cellspacing="0" border="0" class="tbl">
	<%- include("tags/errmsg") %>
    <%- include("tags/input_text_req", {tg: {name:"Host for Server", id:"fip", val:data.ip, type:"text", width:"300px", remk:"" } }) %>
    <%- include("tags/input_text_req", {tg: {name:"Server Port", id:"fsport", val:data.sport, type:"text", width:"300px", remk:"" } }) %>
    <%- include("tags/input_text_req", {tg: {name:"Host for Socket", id:"fhost", val:data.host, type:"text", width:"300px", remk:"" } }) %>
    <%- include("tags/input_check", {tg: {name:"Disable Host for Socket", id:"fhostdisable", val:"1", remk:"", chk:data.hostdisable } }) %>
    <%- include("tags/input_text_req", {tg: {name:"Socket Port", id:"fport", val:data.port, type:"text", width:"150px", remk:"" } }) %>
    <%- include("tags/input_text_req", {tg: {name:"Email", id:"femail", val:data.email, type:"text", width:"300px", remk:"" } }) %>
    <%- include("tags/input_text_req", {tg: {name:"Password", id:"fpassword", val:data.password, type:"text", width:"300px", remk:"" } }) %>
	<tr> 
        <td align="right" width="150" height="22" class="text12">&nbsp;</td>
        <td valign="top"><input type="button" id="tcstest" name="tcstest" value=" Test Connection " onclick="doTest()"></td>
    </tr>    <tr> 
      <td colspan=2>&nbsp;</td>
    </tr>
    </table>

    <div class="toolbar" style="margin-top:0px">
		<%- include("tags/tool_button", {tg: {name:"Save", image:"save_s.png", onclick:"doSubmit()"} }) %>
		<%- include("tags/tool_button", {tg: {name:"Back", image:"back_s.png", onclick:"doBack()"} }) %>
        <div style="clear:both"></div>
    </div>
	
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    

</div>

</form>

<%- include("overall_footer") %>
